*{
    text-align: center; 
}
h1{
    font-family:"Caveat", cursive;
    font-size: 100px;
}
#color-change-btn{
    height: 50px;
    width: 100px;
    font-size: 20px;   
    border-radius: 10px;
    cursor: pointer;
}